<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <p>Contact ME</p>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/gaindu-amarasinghe-23b729276/"><i class="fab fa-linkedin"></i></a>
      <a href="https://x.com/gaindu_amara"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/gainduamarasinghe"><i class="fab fa-github"></i></a>
      <a href="mailto:gaindu2k03@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>

    <div class="footer-copyright">
      <p>Copyright ©2024; Designed by <span class="designer-name">GAINDU AMARASINGHE</span></p>
    </div>
  </div>
</footer>
